#stars:after {
    content: " ";
    position: absolute;
    top: 1000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1357px 1774px #fff, 423px 1691px #fff, 1691px 1499px #fff, 1380px 1037px #fff,
    250px 586px #fff, 1758px 241px #fff, 1344px 1205px #fff, 827px 6px #fff, 1057px 182px #fff,
    1506px 1667px #fff, 1312px 1125px #fff, 1173px 943px #fff, 1040px 143px #fff, 1641px 1007px #fff,
    556px 903px #fff, 1121px 1828px #fff, 1866px 375px #fff, 405px 226px #fff, 1894px 1331px #fff,
    563px 1645px #fff, 661px 1136px #fff, 759px 1347px #fff, 1365px 1673px #fff, 512px 1894px #fff,
    528px 914px #fff, 1329px 1415px #fff, 355px 1177px #fff, 941px 1119px #fff, 509px 917px #fff,
    1921px 780px #fff, 200px 1722px #fff, 1928px 421px #fff, 1548px 24px #fff, 1024px 1099px #fff,
    1666px 1680px #fff, 1238px 1749px #fff, 297px 245px #fff, 1267px 1967px #fff, 36px 390px #fff,
    901px 1894px #fff, 829px 1047px #fff, 467px 1527px #fff, 1040px 805px #fff, 1974px 1101px #fff,
    776px 937px #fff, 192px 1267px #fff, 1217px 5px #fff, 1696px 350px #fff, 712px 701px #fff,
    1382px 259px #fff, 1985px 1827px #fff, 1604px 1310px #fff, 1077px 1106px #fff, 683px 1785px #fff,
    1103px 1165px #fff, 1343px 1908px #fff, 1442px 446px #fff, 474px 2000px #fff, 1382px 1133px #fff,
    849px 1660px #fff, 432px 371px #fff, 1957px 2px #fff, 1766px 1392px #fff, 878px 1955px #fff,
    843px 684px #fff, 1059px 1217px #fff, 1438px 1409px #fff, 530px 763px #fff, 1691px 1822px #fff,
    1117px 1086px #fff, 1647px 132px #fff, 1443px 109px #fff, 322px 1621px #fff, 848px 1805px #fff,
    921px 149px #fff, 76px 1706px #fff, 1701px 263px #fff, 1695px 167px #fff, 1859px 438px #fff,
    602px 622px #fff, 1507px 1780px #fff, 127px 1959px #fff, 328px 1948px #fff, 1802px 582px #fff,
    1126px 1534px #fff, 989px 1571px #fff, 1006px 1221px #fff, 406px 1035px #fff, 483px 1951px #fff,
    1254px 626px #fff, 1144px 1507px #fff, 123px 1627px #fff, 611px 532px #fff, 1155px 576px #fff,
    1958px 945px #fff, 1086px 582px #fff, 1033px 1304px #fff, 599px 100px #fff, 1124px 1103px #fff,
    590px 1670px #fff, 1927px 1281px #fff, 690px 374px #fff, 1189px 1508px #fff, 499px 1910px #fff,
    1957px 781px #fff, 1151px 1481px #fff, 454px 1539px #fff, 805px 1413px #fff, 454px 669px #fff,
    1142px 1623px #fff, 107px 109px #fff, 293px 606px #fff, 461px 1565px #fff, 1432px 489px #fff,
    247px 353px #fff, 1136px 1711px #fff, 591px 1944px #fff, 1343px 1490px #fff, 524px 605px #fff,
    1099px 150px #fff, 458px 989px #fff, 844px 90px #fff, 1917px 1961px #fff, 729px 1658px #fff,
    1444px 547px #fff, 391px 1139px #fff, 246px 761px #fff, 1342px 345px #fff, 1379px 1335px #fff,
    1111px 794px #fff, 1588px 775px #fff, 564px 266px #fff, 1015px 92px #fff, 615px 1518px #fff,
    275px 129px #fff, 122px 879px #fff, 415px 683px #fff, 1913px 1058px #fff, 1488px 85px #fff,
    431px 860px #fff, 343px 838px #fff, 391px 1795px #fff, 288px 1831px #fff, 1894px 1680px #fff,
    652px 1966px #fff, 1355px 33px #fff, 1582px 992px #fff, 146px 1347px #fff, 1717px 1164px #fff,
    218px 435px #fff, 1148px 873px #fff, 1426px 209px #fff, 1673px 731px #fff, 1100px 446px #fff,
    632px 1701px #fff, 861px 488px #fff, 98px 1020px #fff, 1353px 1853px #fff, 287px 1312px #fff,
    1191px 1335px #fff, 366px 16px #fff, 665px 98px #fff, 1742px 551px #fff, 26px 1261px #fff,
    981px 712px #fff, 867px 964px #fff, 566px 1594px #fff, 845px 108px #fff, 1029px 69px #fff,
    794px 1510px #fff, 1471px 1029px #fff, 1287px 327px #fff, 1043px 1931px #fff, 767px 1965px #fff,
    459px 634px #fff, 1620px 304px #fff, 537px 1644px #fff, 1100px 776px #fff, 1642px 1855px #fff,
    320px 1452px #fff, 1141px 1089px #fff, 105px 834px #fff, 570px 845px #fff, 1029px 439px #fff,
    1074px 1647px #fff, 47px 849px #fff, 1964px 1740px #fff, 226px 327px #fff, 1547px 1317px #fff,
    1105px 759px #fff, 1334px 1626px #fff, 1944px 438px #fff, 1254px 417px #fff, 1250px 1499px #fff,
    1176px 404px #fff, 900px 1211px #fff, 32px 1647px #fff, 207px 1898px #fff, 568px 1410px #fff,
    960px 1576px #fff, 197px 908px #fff, 252px 559px #fff, 1035px 295px #fff, 1552px 1596px #fff,
    404px 939px #fff, 1890px 1647px #fff, 188px 837px #fff, 1px 580px #fff, 173px 1467px #fff,
    1948px 1752px #fff, 1320px 905px #fff, 1430px 1424px #fff, 1139px 193px #fff, 1909px 771px #fff,
    1075px 1931px #fff, 285px 1065px #fff, 189px 1391px #fff, 1232px 1036px #fff, 1791px 1372px #fff,
    1848px 1358px #fff, 1597px 334px #fff, 1185px 645px #fff, 730px 811px #fff, 911px 715px #fff,
    1671px 38px #fff, 1460px 1645px #fff, 543px 174px #fff, 1231px 1110px #fff, 791px 554px #fff,
    1992px 233px #fff, 1082px 1345px #fff, 189px 1027px #fff, 496px 476px #fff, 347px 1749px #fff,
    807px 950px #fff, 610px 1079px #fff, 160px 739px #fff, 596px 1747px #fff, 1174px 101px #fff,
    40px 819px #fff, 169px 1892px #fff, 1909px 1740px #fff, 1390px 778px #fff, 1916px 1472px #fff,
    1455px 1061px #fff, 800px 1819px #fff, 430px 503px #fff, 1654px 513px #fff, 174px 1009px #fff,
    338px 873px #fff, 1470px 576px #fff, 1980px 1696px #fff, 217px 1392px #fff, 71px 1424px #fff,
    565px 1354px #fff, 451px 203px #fff, 630px 1874px #fff, 1613px 1497px #fff, 1894px 1590px #fff,
    1552px 1024px #fff, 992px 52px #fff, 662px 757px #fff, 1248px 1423px #fff, 884px 196px #fff,
    433px 112px #fff, 1768px 69px #fff, 551px 1693px #fff, 1784px 399px #fff, 649px 601px #fff,
    374px 427px #fff, 656px 265px #fff, 640px 1325px #fff, 66px 1679px #fff, 319px 1654px #fff,
    556px 1521px #fff, 1295px 1728px #fff, 563px 428px #fff, 880px 554px #fff, 505px 1152px #fff,
    696px 999px #fff, 430px 697px #fff, 1814px 449px #fff, 156px 935px #fff, 733px 539px #fff,
    694px 1491px #fff, 928px 675px #fff, 1532px 174px #fff, 1448px 799px #fff, 663px 253px #fff,
    1990px 1672px #fff, 1491px 1625px #fff, 982px 1782px #fff, 316px 1977px #fff, 1048px 549px #fff,
    1489px 638px #fff, 693px 1592px #fff, 1953px 1167px #fff, 453px 1805px #fff, 41px 1376px #fff,
    1541px 1610px #fff, 718px 844px #fff, 951px 515px #fff, 1578px 846px #fff, 1169px 1378px #fff,
    232px 727px #fff, 572px 800px #fff, 1502px 1834px #fff, 1953px 960px #fff, 593px 1100px #fff,
    776px 1646px #fff, 1526px 35px #fff, 967px 727px #fff, 1269px 661px #fff, 384px 1488px #fff,
    1310px 1876px #fff, 10px 1067px #fff, 862px 1964px #fff, 1635px 402px #fff, 1803px 499px #fff,
    1993px 1278px #fff, 802px 1429px #fff, 1381px 352px #fff, 1439px 1687px #fff, 749px 615px #fff,
    1745px 1044px #fff, 148px 675px #fff, 1800px 247px #fff, 27px 858px #fff, 1645px 290px #fff,
    469px 1286px #fff, 314px 582px #fff, 1984px 138px #fff, 257px 155px #fff, 972px 909px #fff,
    1849px 722px #fff, 1866px 259px #fff, 1659px 1027px #fff, 279px 1112px #fff, 884px 1628px #fff,
    1405px 682px #fff, 409px 815px #fff, 26px 1098px #fff, 364px 1102px #fff, 1681px 1314px #fff,
    329px 12px #fff, 1845px 1222px #fff, 627px 428px #fff, 279px 677px #fff, 1380px 1972px #fff,
    1030px 1682px #fff, 1391px 1372px #fff, 731px 1212px #fff, 1476px 1518px #fff, 810px 419px #fff,
    457px 1577px #fff, 1512px 1615px #fff, 1680px 972px #fff, 398px 744px #fff, 397px 180px #fff,
    520px 1750px #fff, 1161px 1118px #fff, 772px 455px #fff, 328px 1756px #fff, 694px 882px #fff,
    1628px 976px #fff, 1326px 1864px #fff, 672px 770px #fff, 1597px 1388px #fff, 10px 249px #fff,
    678px 1138px #fff, 738px 1216px #fff, 1180px 288px #fff, 1855px 1728px #fff, 522px 1926px #fff,
    1046px 1259px #fff, 1902px 1331px #fff, 1011px 94px #fff, 484px 685px #fff, 1555px 385px #fff,
    1859px 591px #fff, 756px 1981px #fff, 455px 83px #fff, 2px 725px #fff, 170px 1600px #fff,
    821px 1992px #fff, 1914px 1040px #fff, 917px 765px #fff, 1314px 260px #fff, 1626px 1532px #fff,
    1057px 899px #fff, 819px 114px #fff, 1422px 970px #fff, 331px 1047px #fff, 97px 1585px #fff,
    1732px 247px #fff, 594px 1156px #fff, 1056px 1966px #fff, 995px 1658px #fff, 824px 1461px #fff,
    1905px 1405px #fff, 1711px 1936px #fff, 36px 494px #fff, 1782px 1727px #fff, 1801px 1498px #fff,
    1076px 534px #fff, 681px 1986px #fff, 1206px 1080px #fff, 209px 1772px #fff, 225px 1615px #fff,
    1451px 435px #fff, 1252px 1537px #fff, 348px 845px #fff, 1499px 516px #fff, 1369px 1607px #fff,
    270px 369px #fff, 339px 1742px #fff, 236px 226px #fff, 1576px 1311px #fff, 1608px 1197px #fff,
    830px 1571px #fff, 1943px 309px #fff, 1772px 1349px #fff, 1402px 1219px #fff, 1849px 87px #fff,
    309px 90px #fff, 407px 1479px #fff, 1814px 529px #fff, 430px 260px #fff, 1205px 1845px #fff,
    726px 627px #fff, 361px 821px #fff, 1320px 1217px #fff, 661px 71px #fff, 1024px 1996px #fff,
    358px 81px #fff, 1342px 973px #fff, 1536px 1146px #fff, 1481px 1205px #fff, 1696px 1379px #fff,
    80px 1266px #fff, 1857px 1016px #fff, 321px 1369px #fff, 468px 1344px #fff, 1089px 1292px #fff,
    167px 1718px #fff, 173px 1756px #fff, 1107px 280px #fff, 569px 1281px #fff, 1031px 914px #fff,
    1862px 819px #fff, 503px 672px #fff, 1438px 186px #fff, 1193px 573px #fff, 1777px 1662px #fff,
    1369px 1403px #fff, 712px 1753px #fff, 227px 716px #fff, 450px 1680px #fff, 342px 1010px #fff,
    387px 373px #fff, 932px 1977px #fff, 490px 597px #fff, 952px 246px #fff, 412px 645px #fff,
    1359px 1040px #fff, 711px 250px #fff, 1944px 1831px #fff, 96px 1226px #fff, 1068px 1319px #fff,
    548px 5px #fff, 17px 1814px #fff, 445px 1951px #fff, 1784px 198px #fff, 891px 337px #fff,
    399px 1073px #fff, 1534px 1729px #fff, 234px 627px #fff, 1517px 892px #fff, 1724px 1599px #fff,
    902px 266px #fff, 1751px 297px #fff, 1941px 724px #fff, 477px 1538px #fff, 1576px 1703px #fff,
    547px 1443px #fff, 1007px 17px #fff, 1527px 1571px #fff, 1310px 1841px #fff, 1376px 749px #fff,
    1809px 1301px #fff, 984px 139px #fff, 558px 215px #fff, 338px 1006px #fff, 1534px 628px #fff,
    350px 1512px #fff, 259px 197px #fff, 1863px 1852px #fff, 519px 1105px #fff, 1555px 1075px #fff,
    50px 276px #fff, 1300px 1508px #fff, 1258px 1946px #fff, 1684px 1517px #fff, 1945px 258px #fff,
    403px 1356px #fff, 1471px 1460px #fff, 1041px 1255px #fff, 345px 1807px #fff, 116px 469px #fff,
    1379px 381px #fff, 1868px 1446px #fff, 159px 1753px #fff, 1077px 793px #fff, 1738px 1504px #fff,
    740px 1134px #fff, 1187px 638px #fff, 741px 1269px #fff, 239px 1899px #fff, 363px 1087px #fff,
    1543px 635px #fff, 557px 1553px #fff, 1037px 921px #fff, 1085px 1945px #fff, 1203px 435px #fff,
    924px 324px #fff, 1269px 1031px #fff, 1699px 1357px #fff, 651px 1725px #fff, 74px 746px #fff,
    1119px 1056px #fff, 1445px 1863px #fff, 1685px 480px #fff, 765px 848px #fff, 1833px 571px #fff,
    138px 816px #fff, 957px 1717px #fff, 1952px 1424px #fff, 1383px 366px #fff, 1998px 916px #fff,
    1653px 1938px #fff, 904px 437px #fff, 1935px 1376px #fff, 1976px 791px #fff, 24px 110px #fff,
    418px 434px #fff, 1327px 52px #fff, 546px 1383px #fff, 232px 21px #fff, 1801px 398px #fff,
    915px 857px #fff, 1394px 242px #fff, 269px 1177px #fff, 944px 1120px #fff, 776px 1396px #fff,
    1803px 1345px #fff, 10px 1092px #fff, 766px 1754px #fff, 836px 799px #fff, 1413px 357px #fff,
    610px 1926px #fff, 1537px 1272px #fff, 1675px 525px #fff, 119px 215px #fff, 1567px 1214px #fff,
    1110px 911px #fff, 1342px 1711px #fff, 1352px 1947px #fff, 1188px 46px #fff, 1748px 1644px #fff,
    856px 1579px #fff, 563px 234px #fff, 1878px 1434px #fff, 1485px 1456px #fff, 229px 1384px #fff,
    1397px 1074px #fff, 140px 1003px #fff, 882px 813px #fff, 97px 1126px #fff, 195px 1250px #fff,
    1924px 1091px #fff, 519px 363px #fff, 57px 1002px #fff, 1474px 329px #fff, 736px 1545px #fff,
    518px 447px #fff, 582px 488px #fff, 1274px 12px #fff, 1866px 867px #fff, 1767px 498px #fff,
    2000px 527px #fff, 395px 1399px #fff, 289px 585px #fff, 995px 165px #fff, 1889px 757px #fff,
    1391px 1091px #fff, 1492px 857px #fff, 1767px 526px #fff, 1998px 67px #fff, 1075px 1745px #fff,
    1039px 993px #fff, 1793px 5px #fff, 71px 1504px #fff, 1698px 1508px #fff, 767px 47px #fff,
    898px 929px #fff, 1052px 149px #fff, 488px 667px #fff, 532px 973px #fff, 528px 1217px #fff,
    1615px 1432px #fff, 1956px 667px #fff, 621px 1740px #fff, 1726px 738px #fff, 1174px 1473px #fff,
    1993px 819px #fff, 1503px 1613px #fff, 766px 33px #fff, 115px 429px #fff, 224px 1254px #fff,
    1876px 50px #fff, 394px 245px #fff, 763px 546px #fff, 1956px 1271px #fff, 1917px 381px #fff,
    1504px 609px #fff, 193px 1978px #fff, 115px 959px #fff, 1690px 1399px #fff, 797px 729px #fff,
    1801px 1103px #fff, 1017px 180px #fff, 485px 825px #fff, 1140px 1802px #fff, 932px 1128px #fff,
    1440px 936px #fff, 1205px 514px #fff, 1534px 1974px #fff, 165px 931px #fff, 1764px 1779px #fff,
    427px 78px #fff, 824px 1757px #fff, 130px 206px #fff, 706px 366px #fff, 710px 1011px #fff,
    172px 1059px #fff, 1489px 653px #fff, 60px 696px #fff, 302px 1125px #fff, 1633px 1493px #fff,
    798px 663px #fff, 826px 160px #fff, 458px 1585px #fff, 1007px 1342px #fff, 1266px 965px #fff,
    1189px 999px #fff, 593px 1155px #fff, 1064px 993px #fff, 63px 15px #fff, 1070px 464px #fff,
    203px 1785px #fff, 1475px 1303px #fff, 1729px 637px #fff, 433px 711px #fff, 1616px 1565px #fff,
    1251px 98px #fff, 1272px 659px #fff, 272px 1866px #fff, 1545px 1776px #fff, 554px 1295px #fff,
    517px 88px #fff, 869px 1703px #fff, 191px 1604px #fff, 1458px 780px #fff, 1842px 1851px #fff,
    88px 1188px #fff, 1703px 1704px #fff, 1442px 1230px #fff, 1658px 498px #fff, 500px 1608px #fff,
    1999px 1605px #fff, 103px 430px #fff, 1024px 1853px #fff, 1275px 1821px #fff, 682px 1276px #fff,
    866px 1585px #fff, 922px 725px #fff, 311px 357px #fff, 1498px 267px #fff, 1130px 1746px #fff,
    640px 1408px #fff, 261px 1499px #fff, 404px 103px #fff, 1731px 1438px #fff, 384px 110px #fff,
    1153px 597px #fff, 144px 564px #fff, 1591px 808px #fff, 1767px 18px #fff, 1137px 712px #fff,
    124px 419px #fff;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1944px 744px #fff, 1186px 1698px #fff, 1838px 365px #fff, 792px 694px #fff,
    567px 1202px #fff, 1740px 834px #fff, 1948px 1798px #fff, 38px 950px #fff, 1662px 1317px #fff,
    602px 1992px #fff, 193px 1795px #fff, 200px 997px #fff, 1218px 179px #fff, 617px 213px #fff,
    426px 453px #fff, 939px 627px #fff, 1462px 1741px #fff, 637px 1169px #fff, 643px 1386px #fff,
    874px 1309px #fff, 984px 1271px #fff, 486px 657px #fff, 753px 322px #fff, 835px 369px #fff,
    552px 1339px #fff, 960px 1970px #fff, 1656px 670px #fff, 1340px 619px #fff, 264px 1304px #fff,
    169px 1718px #fff, 628px 1659px #fff, 1944px 950px #fff, 1846px 1312px #fff, 1679px 1987px #fff,
    153px 1117px #fff, 18px 1453px #fff, 609px 731px #fff, 370px 730px #fff, 245px 211px #fff,
    1769px 798px #fff, 384px 163px #fff, 998px 675px #fff, 1563px 1590px #fff, 1761px 112px #fff,
    200px 411px #fff, 1667px 1048px #fff, 1651px 618px #fff, 1307px 704px #fff, 395px 100px #fff,
    220px 34px #fff, 1942px 1629px #fff, 431px 785px #fff, 1986px 51px #fff, 1043px 1862px #fff,
    300px 202px #fff, 1460px 1510px #fff, 1116px 229px #fff, 911px 1990px #fff, 400px 1193px #fff,
    132px 718px #fff, 1434px 1054px #fff, 538px 678px #fff, 1198px 648px #fff, 1350px 1727px #fff,
    1733px 1432px #fff, 149px 635px #fff, 177px 84px #fff, 1747px 1453px #fff, 1097px 1099px #fff,
    708px 1767px #fff, 898px 768px #fff, 1491px 997px #fff, 1524px 1054px #fff, 1369px 1109px #fff,
    1683px 94px #fff, 711px 1736px #fff, 1951px 405px #fff, 848px 1757px #fff, 1646px 1060px #fff,
    97px 1878px #fff, 1240px 538px #fff, 696px 252px #fff, 1519px 1387px #fff, 186px 316px #fff,
    446px 1717px #fff, 119px 53px #fff, 685px 484px #fff, 476px 32px #fff, 1380px 120px #fff,
    844px 978px #fff, 1998px 1425px #fff, 1348px 899px #fff, 888px 1721px #fff, 1603px 106px #fff,
    1435px 497px #fff, 1487px 335px #fff, 355px 1568px #fff, 1698px 1470px #fff, 714px 581px #fff,
    619px 1767px #fff, 1317px 1827px #fff, 232px 1099px #fff, 462px 654px #fff, 7px 1763px #fff,
    1285px 63px #fff, 1792px 1186px #fff, 517px 1113px #fff, 873px 477px #fff, 977px 1716px #fff,
    237px 1476px #fff, 1608px 1244px #fff, 1830px 1894px #fff, 1719px 94px #fff, 1488px 839px #fff,
    1618px 1614px #fff, 486px 128px #fff, 108px 1052px #fff, 144px 380px #fff, 555px 929px #fff,
    842px 1285px #fff, 197px 1655px #fff, 696px 591px #fff, 1926px 1266px #fff, 1542px 940px #fff,
    845px 1612px #fff, 1016px 1748px #fff, 1456px 68px #fff, 72px 409px #fff, 968px 1785px #fff,
    1841px 1623px #fff, 114px 573px #fff, 1400px 126px #fff, 604px 1162px #fff, 574px 1733px #fff,
    1999px 1066px #fff, 1768px 1689px #fff, 1714px 1385px #fff, 1387px 1568px #fff,
    1942px 1618px #fff, 389px 198px #fff, 1054px 845px #fff, 80px 1290px #fff, 1823px 454px #fff,
    331px 1758px #fff, 255px 1182px #fff, 379px 1069px #fff, 196px 1353px #fff, 657px 643px #fff,
    1949px 631px #fff, 743px 1898px #fff, 380px 506px #fff, 1674px 900px #fff, 197px 197px #fff,
    1537px 1057px #fff, 284px 958px #fff, 1281px 1365px #fff, 1611px 125px #fff, 1901px 702px #fff,
    1257px 767px #fff, 716px 326px #fff, 542px 598px #fff, 1135px 187px #fff, 979px 1267px #fff,
    618px 251px #fff, 770px 1003px #fff, 352px 1775px #fff, 1619px 491px #fff, 1345px 1834px #fff,
    926px 1572px #fff, 1991px 906px #fff, 1687px 687px #fff, 354px 1309px #fff, 1824px 1080px #fff,
    1635px 1750px #fff, 30px 1835px #fff, 63px 1708px #fff, 248px 1162px #fff, 1854px 1830px #fff,
    1203px 727px #fff, 167px 48px #fff, 1854px 1114px #fff, 835px 1532px #fff, 354px 939px #fff,
    150px 84px #fff, 1502px 1041px #fff, 1441px 834px #fff, 146px 1693px #fff, 356px 491px #fff,
    857px 1410px #fff, 1066px 737px #fff, 1695px 84px #fff, 236px 576px #fff, 1375px 1011px #fff,
    1771px 1890px #fff, 118px 1972px #fff, 311px 1355px #fff, 1487px 585px #fff, 919px 1559px #fff,
    810px 511px #fff, 965px 539px #fff;
    animation: animStar 100s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1944px 744px #fff, 1186px 1698px #fff, 1838px 365px #fff, 792px 694px #fff,
    567px 1202px #fff, 1740px 834px #fff, 1948px 1798px #fff, 38px 950px #fff, 1662px 1317px #fff,
    602px 1992px #fff, 193px 1795px #fff, 200px 997px #fff, 1218px 179px #fff, 617px 213px #fff,
    426px 453px #fff, 939px 627px #fff, 1462px 1741px #fff, 637px 1169px #fff, 643px 1386px #fff,
    874px 1309px #fff, 984px 1271px #fff, 486px 657px #fff, 753px 322px #fff, 835px 369px #fff,
    552px 1339px #fff, 960px 1970px #fff, 1656px 670px #fff, 1340px 619px #fff, 264px 1304px #fff,
    169px 1718px #fff, 628px 1659px #fff, 1944px 950px #fff, 1846px 1312px #fff, 1679px 1987px #fff,
    153px 1117px #fff, 18px 1453px #fff, 609px 731px #fff, 370px 730px #fff, 245px 211px #fff,
    1769px 798px #fff, 384px 163px #fff, 998px 675px #fff, 1563px 1590px #fff, 1761px 112px #fff,
    200px 411px #fff, 1667px 1048px #fff, 1651px 618px #fff, 1307px 704px #fff, 395px 100px #fff,
    220px 34px #fff, 1942px 1629px #fff, 431px 785px #fff, 1986px 51px #fff, 1043px 1862px #fff,
    300px 202px #fff, 1460px 1510px #fff, 1116px 229px #fff, 911px 1990px #fff, 400px 1193px #fff,
    132px 718px #fff, 1434px 1054px #fff, 538px 678px #fff, 1198px 648px #fff, 1350px 1727px #fff,
    1733px 1432px #fff, 149px 635px #fff, 177px 84px #fff, 1747px 1453px #fff, 1097px 1099px #fff,
    708px 1767px #fff, 898px 768px #fff, 1491px 997px #fff, 1524px 1054px #fff, 1369px 1109px #fff,
    1683px 94px #fff, 711px 1736px #fff, 1951px 405px #fff, 848px 1757px #fff, 1646px 1060px #fff,
    97px 1878px #fff, 1240px 538px #fff, 696px 252px #fff, 1519px 1387px #fff, 186px 316px #fff,
    446px 1717px #fff, 119px 53px #fff, 685px 484px #fff, 476px 32px #fff, 1380px 120px #fff,
    844px 978px #fff, 1998px 1425px #fff, 1348px 899px #fff, 888px 1721px #fff, 1603px 106px #fff,
    1435px 497px #fff, 1487px 335px #fff, 355px 1568px #fff, 1698px 1470px #fff, 714px 581px #fff,
    619px 1767px #fff, 1317px 1827px #fff, 232px 1099px #fff, 462px 654px #fff, 7px 1763px #fff,
    1285px 63px #fff, 1792px 1186px #fff, 517px 1113px #fff, 873px 477px #fff, 977px 1716px #fff,
    237px 1476px #fff, 1608px 1244px #fff, 1830px 1894px #fff, 1719px 94px #fff, 1488px 839px #fff,
    1618px 1614px #fff, 486px 128px #fff, 108px 1052px #fff, 144px 380px #fff, 555px 929px #fff,
    842px 1285px #fff, 197px 1655px #fff, 696px 591px #fff, 1926px 1266px #fff, 1542px 940px #fff,
    845px 1612px #fff, 1016px 1748px #fff, 1456px 68px #fff, 72px 409px #fff, 968px 1785px #fff,
    1841px 1623px #fff, 114px 573px #fff, 1400px 126px #fff, 604px 1162px #fff, 574px 1733px #fff,
    1999px 1066px #fff, 1768px 1689px #fff, 1714px 1385px #fff, 1387px 1568px #fff,
    1942px 1618px #fff, 389px 198px #fff, 1054px 845px #fff, 80px 1290px #fff, 1823px 454px #fff,
    331px 1758px #fff, 255px 1182px #fff, 379px 1069px #fff, 196px 1353px #fff, 657px 643px #fff,
    1949px 631px #fff, 743px 1898px #fff, 380px 506px #fff, 1674px 900px #fff, 197px 197px #fff,
    1537px 1057px #fff, 284px 958px #fff, 1281px 1365px #fff, 1611px 125px #fff, 1901px 702px #fff,
    1257px 767px #fff, 716px 326px #fff, 542px 598px #fff, 1135px 187px #fff, 979px 1267px #fff,
    618px 251px #fff, 770px 1003px #fff, 352px 1775px #fff, 1619px 491px #fff, 1345px 1834px #fff,
    926px 1572px #fff, 1991px 906px #fff, 1687px 687px #fff, 354px 1309px #fff, 1824px 1080px #fff,
    1635px 1750px #fff, 30px 1835px #fff, 63px 1708px #fff, 248px 1162px #fff, 1854px 1830px #fff,
    1203px 727px #fff, 167px 48px #fff, 1854px 1114px #fff, 835px 1532px #fff, 354px 939px #fff,
    150px 84px #fff, 1502px 1041px #fff, 1441px 834px #fff, 146px 1693px #fff, 356px 491px #fff,
    857px 1410px #fff, 1066px 737px #fff, 1695px 84px #fff, 236px 576px #fff, 1375px 1011px #fff,
    1771px 1890px #fff, 118px 1972px #fff, 311px 1355px #fff, 1487px 585px #fff, 919px 1559px #fff,
    810px 511px #fff, 965px 539px #fff;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 682px 883px #fff, 728px 1291px #fff, 636px 1067px #fff, 1356px 1318px #fff,
    1719px 619px #fff, 1057px 1809px #fff, 360px 776px #fff, 754px 1025px #fff, 1391px 673px #fff,
    1939px 789px #fff, 26px 1030px #fff, 1779px 1624px #fff, 1446px 1269px #fff, 1467px 699px #fff,
    341px 1543px #fff, 239px 1673px #fff, 1878px 1746px #fff, 1195px 1923px #fff, 853px 323px #fff,
    1474px 891px #fff, 1343px 1441px #fff, 248px 1362px #fff, 1604px 1200px #fff, 29px 376px #fff,
    577px 960px #fff, 1036px 313px #fff, 726px 914px #fff, 831px 1082px #fff, 98px 73px #fff,
    572px 1953px #fff, 696px 728px #fff, 32px 554px #fff, 960px 1662px #fff, 926px 1536px #fff,
    1327px 1852px #fff, 886px 858px #fff, 865px 188px #fff, 1396px 1741px #fff, 1595px 203px #fff,
    55px 1823px #fff, 40px 1963px #fff, 670px 532px #fff, 1401px 1404px #fff, 1214px 1728px #fff,
    1320px 140px #fff, 1439px 1014px #fff, 16px 35px #fff, 274px 1837px #fff, 1326px 877px #fff,
    1175px 443px #fff, 1573px 1571px #fff, 1205px 1832px #fff, 723px 86px #fff, 293px 3px #fff,
    324px 1587px #fff, 1283px 778px #fff, 1337px 582px #fff, 1327px 1282px #fff, 86px 407px #fff,
    1757px 1104px #fff, 402px 1554px #fff, 508px 1037px #fff, 1479px 1776px #fff, 964px 1626px #fff,
    1149px 274px #fff, 607px 1722px #fff, 1718px 1953px #fff, 17px 1735px #fff, 1903px 752px #fff,
    561px 1034px #fff, 468px 771px #fff, 342px 1229px #fff, 397px 732px #fff, 1217px 1264px #fff,
    303px 464px #fff, 1627px 1908px #fff, 953px 322px #fff, 1208px 281px #fff, 910px 1671px #fff,
    1371px 781px #fff, 585px 135px #fff, 438px 1238px #fff, 338px 637px #fff, 1275px 1410px #fff,
    939px 43px #fff, 879px 1517px #fff, 1790px 784px #fff, 1375px 1708px #fff, 804px 1758px #fff,
    1079px 755px #fff, 701px 184px #fff, 1965px 802px #fff, 868px 151px #fff, 357px 300px #fff,
    1806px 1085px #fff, 1988px 723px #fff, 187px 1746px #fff, 162px 540px #fff, 1810px 80px #fff,
    1728px 920px #fff;
    animation: animStar 150s linear infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 682px 883px #fff, 728px 1291px #fff, 636px 1067px #fff, 1356px 1318px #fff,
    1719px 619px #fff, 1057px 1809px #fff, 360px 776px #fff, 754px 1025px #fff, 1391px 673px #fff,
    1939px 789px #fff, 26px 1030px #fff, 1779px 1624px #fff, 1446px 1269px #fff, 1467px 699px #fff,
    341px 1543px #fff, 239px 1673px #fff, 1878px 1746px #fff, 1195px 1923px #fff, 853px 323px #fff,
    1474px 891px #fff, 1343px 1441px #fff, 248px 1362px #fff, 1604px 1200px #fff, 29px 376px #fff,
    577px 960px #fff, 1036px 313px #fff, 726px 914px #fff, 831px 1082px #fff, 98px 73px #fff,
    572px 1953px #fff, 696px 728px #fff, 32px 554px #fff, 960px 1662px #fff, 926px 1536px #fff,
    1327px 1852px #fff, 886px 858px #fff, 865px 188px #fff, 1396px 1741px #fff, 1595px 203px #fff,
    55px 1823px #fff, 40px 1963px #fff, 670px 532px #fff, 1401px 1404px #fff, 1214px 1728px #fff,
    1320px 140px #fff, 1439px 1014px #fff, 16px 35px #fff, 274px 1837px #fff, 1326px 877px #fff,
    1175px 443px #fff, 1573px 1571px #fff, 1205px 1832px #fff, 723px 86px #fff, 293px 3px #fff,
    324px 1587px #fff, 1283px 778px #fff, 1337px 582px #fff, 1327px 1282px #fff, 86px 407px #fff,
    1757px 1104px #fff, 402px 1554px #fff, 508px 1037px #fff, 1479px 1776px #fff, 964px 1626px #fff,
    1149px 274px #fff, 607px 1722px #fff, 1718px 1953px #fff, 17px 1735px #fff, 1903px 752px #fff,
    561px 1034px #fff, 468px 771px #fff, 342px 1229px #fff, 397px 732px #fff, 1217px 1264px #fff,
    303px 464px #fff, 1627px 1908px #fff, 953px 322px #fff, 1208px 281px #fff, 910px 1671px #fff,
    1371px 781px #fff, 585px 135px #fff, 438px 1238px #fff, 338px 637px #fff, 1275px 1410px #fff,
    939px 43px #fff, 879px 1517px #fff, 1790px 784px #fff, 1375px 1708px #fff, 804px 1758px #fff,
    1079px 755px #fff, 701px 184px #fff, 1965px 802px #fff, 868px 151px #fff, 357px 300px #fff,
    1806px 1085px #fff, 1988px 723px #fff, 187px 1746px #fff, 162px 540px #fff, 1810px 80px #fff,
    1728px 920px #fff;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}

